* {
	font-size: 20px;
	font-family: Ubuntu Nerd Font;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#memory,
#cpu,
#battery,
#disk,
#tray,
#mode,
#temperature,
#idle_inhibitor,
#custom-idle_presets {
	background: #1a1a1a;
    padding: 0 10px;
}

#workspaces button {
	padding: 0 6px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 6px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#temperature {
	color: #c6a6e0;
}
#disk {
	color: #b58900;
}
#mode {

}
#idle_inhibitor {
    padding-right: 0;
}

/**
 * Style for battery module, including animation when discharging or nearly
 * empty
 */
#battery {
	color: #859900;
}
#battery.discharging {
    font-style: italic;
    animation: blinker 7s ease-in-out infinite;
}
#battery.discharging.warning {
    color: #fffd80;
    animation-duration: 5s;
}
#battery.discharging.critical {
    background-color: #fffd80;
    color: #f54545;
    animation-duration: 3s;
}
@keyframes blinker {  
    50% {
        opacity: 0.15;
    }
}
